{% extends 'base.html.twig' %}
{% block title %}Registro manual de consumo y existencias{% endblock %}
{% block subtitle %}llenar los datos de acuerdo a la informacion que posea{% endblock %}
{% block body %}
<section id="mensual">
	<div class="row">
      <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Registro Mensual de </h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
              <div class="row"><div class="col-xs-10">Productos (nombre, codigo o correlativo)</div><div class="col-xs-2">Cantidad</div></div>
              <div class="row">
				<div class="col-xs-10"></div>
				<div class="col-xs-2"><input class="form-control" placeholder="####" type="text"></div>
			  </div>
              <div class="row">
				<div class="col-xs-10"></div>
				<div class="col-xs-2"><input class="form-control" placeholder="####" type="text"></div>
			  </div>
              <div class="row">
				<div class="col-xs-10"></div>
				<div class="col-xs-2"><input class="form-control" placeholder="####" type="text"></div>
			  </div>
              <div class="row">
				<div class="col-xs-10"></div>
				<div class="col-xs-2"><input class="form-control" placeholder="####" type="text"></div>
			  </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary pull-right">Agregar</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
      </div> 
    </div><!-- /.row -->
</section>
{% endblock %}
