
<!-- sidebar menu: ejemplo de plantilla de enlaces -->   
    <li class="active"> 
        <a href="" class="waves-effect"><span class="hide-menu">Dashboard<span class="fa arrow"></span></span></a>
    </li>
<!-- /.sidebar -->
