<div class="col-md-12">
          <!-- Custom Tabs (Pulled to the right) -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a href="#tab_1-1" data-toggle="tab" aria-expanded="true">Periodo</a></li>
              <li class=""><a href="#tab_2-2" data-toggle="tab" aria-expanded="false">Suministros</a></li>
              <li class=""><a href="#tab_3-2" data-toggle="tab" aria-expanded="false">Registros</a></li>
              <li class=""><a href="#tab_3-3" data-toggle="tab" aria-expanded="false">Abastecimiento</a></li>
              <li class=""><a href="#tab_3-4" data-toggle="tab" aria-expanded="false">Localidad</a></li>
              <li class=""><a href="#tab_3-4" data-toggle="tab" aria-expanded="false">Programas</a></li>
              <li class="pull-left header"><i class="fa fa-th"></i> Parametros generales </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1-1">
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2-2">
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3-2">
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
        </div>
