{% extends 'base.html.twig' %}
{% block title %}Catalogo de tipos de movimientos entre almacenes{% endblock %}
{% block subtitle %}Representa las operaciones entre almacenes{% endblock %}
{% block body %}
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          

          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="tabla" class="table table-bordered table-striped">
                <thead>
                <tr>
                <th>Nombre mecanismo</th>
                <th>Descripción</th>
                <th>Efectos en inventario</th>
                </tr>
                </thead>
                <tbody>
        {% for ctlTipoMovimiento in ctlTipoMovimientos %}
            <tr>
                <td>{{ ctlTipoMovimiento.nombreMovimiento }}</td>
                <td>{{ ctlTipoMovimiento.descripcionMovmiento }}</td>
                <td>{% if ctlTipoMovimiento.agregaMovimiento %}Incrementa{% else %}Decrementa{% endif %}</td>
            </tr>
        {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                <th>Nombre mecanismo</th>
                <th>Descripción</th>
                <th>Efectos en los almacenes</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>    
{% endblock %}

{% block footer_js %}
<!-- DataTables -->
<script src="{{ asset('assets/') }}core/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{ asset('assets/') }}core/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- page script -->
<script>
  $(function () {
    $("#tabla").DataTable();
    $('#e').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false
    });
  });
</script>
{% endblock %}
