{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ctlmecanismo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ctlMecanismo.id }}</td>
            </tr>
            <tr>
                <th>Nombremecanismo</th>
                <td>{{ ctlMecanismo.nombreMecanismo }}</td>
            </tr>
            <tr>
                <th>Manualmecanismo</th>
                <td>{{ ctlMecanismo.manualMecanismo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configuracion_mecanismos_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
